# ==========================================
# 1. Visual Studio (C++ Server)
# ==========================================
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.aps
*.pdb
*.suo
*.sln.docstates
*.obj
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.ipdb
*.ipch
*.pch        
*.ilk
*.exe
*.dll
*.lib

# ==========================================
# 2. Unreal Engine (UE 5.7.1)
# ==========================================
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
FileOpenOrder/
.ignore
DerivedDataCache/
/Plugins/*/Binaries/
/Plugins/*/Intermediate/
*.sln 

# ==========================================
# 3. 기타 (OS 및 툴)
# ==========================================
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
config.ini
secret.json